<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>addGrade</title>
</head>

<div id="header" style="background-color:#33CCCC;">
  <h1 style="margin-bottom:0;text-align:center">欢迎来到驾校管理系统</h1></div>
<body>
<div th:insert="commons::fragment-name"></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:1600px;float:left;">
  <h1>录入学生成绩</h1>
  <p th:text="${tip}"></p>
  <form action="/addGrade" method="post">


  <div>
    <label>
      输入学生id
      <input type="number" name="id">
    </label>
  </div>
  <div>
    <label>
      输入考试科目
      <select name="n">
        <option value="1" selected>科目一</option>
        <option value="2">科目二</option>
        <option value="3">科目三</option>
        <option value="4">科目四</option>
      </select>
    </label>
  </div>
  <div>
    <label>
      请输入考试成绩
      <input type="number" name="grade">
    </label>
  </div>
  <div>
    <input type="submit" value="确定">
  </div>
  </form>
</div>

</body>
</html>