<div th:fragment="fragment-name" id="fragment-id">
    <span>

<div id="menu" style="background-color:#D0D0D0;height:1000px;width:200px;float:left;">
    <ul>
        学生管理
        <li><a href="/newStudent">新生信息注册</a>
        <li><a href="/studentList">查看学生列表</a> </li>
    </ul>
    <ul>
        成绩管理
        <li><a href="/add">录入学生成绩</a></li>
        <li><a href="/examRecords">考试记录</a></li>
        <li><a href="/gradeList">学生成绩列表</a></li>
    </ul>
    <ul>
        系统管理
        <li><a href="/userList">用户列表</a> </li>
        <li><a href="/reg">添加用户</a> </li>
        <li><a href="/delete">删除用户</a> </li>
        <li><a href="/change">更改密码</a></li>
        <li><a href="/login">退出系统</a></li>
    </ul>
</div>
    </span>
</div>