<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>examRecordsList</title>
</head>

<div id="header" style="background-color:#33CCCC;">
  <h1 style="margin-bottom:0;text-align:center">欢迎来到驾校管理系统</h1></div>
<body>
<div th:insert="commons::fragment-name"></div>

<div id="content" style="background-color:#E0FFFF;height:1000px;width:1600px;float:left;">
  <h1>考试记录</h1>

  <form action="/examRecordsListByStudentId" method="post">
    <div>
      <label>
        请输入学生id<input type="number" name = "id">
      </label>
      <label>
        请选择页数<select name="number">
        <option value="0">1</option>
        <option value="1">2</option>
      </select>
      </label>
      <input type="submit" value="提交">
    </div>

  </form>

  <table border="1">
    <tr>
      <th>id</th>
      <th>学生id</th>
      <th>考试时间</th>
      <th>考试科目</th>
      <th>考试成绩</th>
    </tr>
    <tr th:each="m:${examRecordsList}">
      <td th:text="${m.id}"></td>
      <td th:text="${m.studentId}"></td>
      <td th:text="${m.examTime}"></td>
      <td th:text="${m.subjectId}"></td>
      <td th:text="${m.grade}"></td>
    </tr>
  </table>

  <form action="/examRecordsListByPage" method="post">
    <div>
      <label>
        请选择页数<select name="number">
        <option value="0">1</option>
        <option value="1">2</option>
      </select>
      </label>
      <input type="submit" value="确定">
    </div>

  </form>
</div>

</body>
</html>